doctype html
html(lang="pt-BR")
	head
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous")
	body

		.container
			header
				.row
					.col-2
						img(src="https://i.imgur.com/QfPBOXZ.png")
					.col-7
						.info
							p.first Entidade Beneficente Betel
							p.sec Rua Ibituba, nº 6 - Mangabeira - Feira de Santana - BA
							p.sec Fone: (75) 3626-6835/982823820/982850237
							p.sec.last Ações do amor de Deus por uma vida com mais oportunidades
					.col-3
						.photo
							p Foto 3x4
				p 
					h2 Ficha de Cadastro
					h3 Voluntário
			.row
				.col
					p
						span(class="detail") Nome: 
							span #{voluntario.name}
				.col
					p
						span(class="detail") Data de nascimento: 
							span #{voluntario.birthdate}
				.col
					p		
						span(class="detail") Idade: 
							span #{voluntario.age}
			.row
				.col		
					p
						span(class="detail") Endereço: 
							span #{voluntario.address}
				.col
					p
						span(class="detail") Telefone: 
							span #{voluntario.phone}
				.col					
					p
						span(class="detail") Whatsapp: 
							span #{voluntario.whatsapp}
			.row
				.col 
					p
						span(class="detail") Grau de escolaridade: 
							span #{voluntario.schooling}
			.row
				.col
					p
						span(class="detail") E-mail: 
							span #{voluntario.email}
				.col
					p
						span(class="detail") RG: 
							span #{voluntario.rg}
				.col
					p
						span(class="detail") CPF: 
							span #{voluntario.cpf}
			.row
				.col
					p
						span(class="detail") Igreja: 
							span #{voluntario.church}
				.col
					p
						span(class="detail") Pastor: 
							span #{voluntario.pastor}
				.col
					p
						span(class="detail") Ministério: 
							span #{voluntario.ministry}
			.row
				.col
					p
						span(class="detail") Medicamentos utilizados: 
							if voluntario.use_medicine
								span #{voluntario.which_medicine}
							else
								span Não utiliza
				.col
					p
						span(class="detail") Motivo:  
							if voluntario.use_medicine
								span #{voluntario.why_medicine}
							else 
								span ---
			.row
				.col
					p
						span(class="detail") Monitoramento médico: 
							if voluntario.medical_monitored
								span #{voluntario.why_medical_monitored}
							else
								span Não se aplica
			.row
				.col
					p
						span(class="detail") Já foi voluntário: 
							if voluntario.prev_volunteer
								span Sim
							else
								span Não
				.col
					p
						span(class="detail") Onde: 
							if voluntario.prev_volunteer
								span #{voluntario.where_volunteer}
							else
								span Não se aplica
				.col
					p
						span(class="detail") Experiência como voluntário: 
							if voluntario.prev_volunteer
								span #{voluntario.experience_as_volunteer}
							else
								span Não se aplica
			.row
				.col
					p
						span(class="detail") O que é voluntariado: 
							span #{voluntario.what_is_volunteering}
				.col
					p
						span(class="detail") Princípios do voluntariado: 
							span #{voluntario.volunteering_principles}
			.row
				.col
					p
						span(class="detail") Se submete facilmente: 
							if voluntario.obedient
								span Sim
							else
								span Não
				.col
					p
						span(class="detail") Expliqe: 
							span #{voluntario.obedient_desc}
			.row
				.col
					p
						span(class="detail") O que um voluntário não deve fazer:  
							span #{voluntario.must_not_do}
			.row
				.col
					p
						span(class="detail") Expectativas:  
							span #{voluntario.expectations}
			.row
				.col
					p
						span(class="detail") Data do cadastro: 
							span #{cadastro}

			.footer
				.row
					.col
						p Feira de Santana, #{hoje}
				.row
					.col.sign
						p ___________________________________________
						p Assinatura do voluntário

		style.
			@media print {
				@page { 
					margin-top: 0;
					margin-bottom: 0;
				}
			}

			header {
				width: 100%;
				text-align: center;
				margin-top: 30px;
			}

			img {
				width: 3cm;
				margin-top: 50%;
			}

			.info {
				font-size: 0.9em;
				margin-top: 30px;
			}

			.first {
				font-weight: bold;
			}

			.sec {
				line-height: 4px;
			}

			.last {
				font-size: 0.8em;
				font-style: italic;
			}

			.photo {
				border: 1px solid #CCC;
				border-radius: 5px;
				width: 3cm;
				height: 4cm;
			}

			.photo p {
				margin-top: 50%;
				color: #BBB;
			}

			.footer {
				text-align: center;
				margin-top: 50px;
			}

			.sign {
				margin-top: 30px;
				line-height: 3px;
			}

			.detail {
				font-weight: bold;
				display: inline-block;
			}

			.detail span {
				font-weight: normal;
			}